<div class="row mt-2 d-flex justify-content-center">
  <div class="col-1 text-right btn btn-sm" [class.not-visible]="currIndustry == 0" [class.disabled]="editMode" (click)="editMode || onPrev()">
      <i class="fa fa-big fa-chevron-left text-config-light"></i>
  </div>
  <div>
    <select class="bg-config text-config-white lead" [disabled]="editMode" [(ngModel)]="currIndustry"  (change)="onIndustryChanged()">
      <option *ngFor="let industry of industryList; let i=index"  [value]="i"> 
      {{industry}}
      </option>
    </select>
  </div>
  <div class="col-1 text-left btn btn-sm" [class.not-visible]="currIndustry == industryList.length - 1" [class.disabled]="editMode" (click)="editMode || onNext()">
    <i class="fa fa-big fa-chevron-right text-config-light"></i>
  </div>
  <div class="right-toolbar" [hidden]="currIndustry == null">
      <button class="btn btn-outline-light" [hidden]="editMode" (click)="editMode=true"><i class="fa fa-big fa-pencil text-config-light"></i></button> 
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-light" [hidden]="!editMode" ngbDropdownToggle>
            <i class="fa fa-big fa-files-o text-config-light"></i>
        </button>
        <div ngbDropdownMenu style="margin-left:-75px">
          <button class="dropdown-item" ngbDropdownItem *ngFor="let industry of industryList | OtherIndustries:currIndustry">{{industry}}</button>
        </div>
      </div>
      <button class="btn btn-outline-light" [hidden]="!editMode" (click)="onSave(); editMode=false"><i class="fa fa-big fa-floppy-o text-config-light"></i></button> 
      <button class="btn btn-outline-light" [hidden]="!editMode" (click)="onCancel(); editMode=false"><i class="fa fa-big fa-undo text-config-light"></i></button> 
  </div>
</div>
<div class="row mt-2" *ngIf="configuration.current"> 
  <table class="table table-sm table-borderless">
      <tr>
          <th><app-toggler class="text-config-light" [(value)]="hideExcluded"></app-toggler></th>
          <th>Modulo</th>
          <th>Funzionalità<app-toggler class="ml-0 mr-0 p-0 text-config-light" [(value)]="hideFunctionalities"></app-toggler></th>
          <th class="text-center edition-sep" [hidden]="!clients.show"><i class="fa fa-user fa-big text-user"></i> </th>
          <th class="text-center edition-sep" [class.bg-user-light]="clients.show && clients.getEdition() =='STD'" (click)="editMode && selectAll('standard')">
            <app-edition-header [disabled]="!editMode">Standard</app-edition-header> 
          </th>
          <th class="text-center edition-sep" [class.bg-user-light]="clients.show && clients.getEdition() =='PRO'" (click)="editMode && selectAll('professional')">
            <app-edition-header [disabled]="!editMode">Professional</app-edition-header>
          </th>
          <th class="text-center edition-sep" [class.bg-user-light]="clients.show && clients.getEdition() =='ENT'" (click)="editMode && selectAll('enterprise')">
            <app-edition-header [disabled]="!editMode">Enterprise</app-edition-header>
          </th>
      </tr> 
      <tr *ngFor="let feature of configuration.current.features | Functionality:!hideFunctionalities | Excluded:!hideExcluded" [class.unavailable]="feature.unavailable" [class.module-sep]="feature.module != ''">
          <td width="15px"><app-toggler [hidden]="feature.discontinued" [disabled]="!editMode" class="text-config-light" [(value)]="feature.unavailable" [options]="unavailableOptions"></app-toggler></td>
          <td [class.discontinued]="feature.discontinued">{{feature.module}}</td>  
          <td [class.discontinued]="feature.discontinued">{{hideFunctionalities ? "" : feature.functionality}}</td> 
          <td class="text-center edition-sep" [hidden]="!clients.show"><i class="fa in-use text-user" [class.fa-circle]="feature.fromPackage" [class.fa-check]="feature.customer"></i></td>
          <td class="text-center edition-sep" [class.bg-user-light]="clients.show && clients.getEdition() =='STD'">
            <app-toggler [hidden]="feature.unavailable || feature.discontinued" [disabled]="!editMode" class="text-config" [(value)]="feature.standard" [options]="featureTypes"></app-toggler>
          </td>
          <td class="text-center edition-sep" [class.bg-user-light]="clients.show && clients.getEdition() =='PRO'">
            <app-toggler [hidden]="feature.unavailable || feature.discontinued" [disabled]="!editMode" class="text-config" [(value)]="feature.professional" [options]="featureTypes"></app-toggler>
          </td>
          <td class="text-center edition-sep" [class.bg-user-light]="clients.show && clients.getEdition() =='ENT'">
            <app-toggler [hidden]="feature.unavailable || feature.discontinued" [disabled]="!editMode" class="text-config" [(value)]="feature.enterprise" [options]="featureTypes"></app-toggler>
          </td>
      </tr>
  </table>
</div>
