td {
    margin: 0;
    padding: 0;
}

.discontinued {
    color: red;
    text-decoration: line-through;
}

/* .edition-sep {
    border-left: 1px solid #A8A7A9;
}

.module-sep {
    border-top: 1px solid #A8A7A9;
} */


.unavailable {
    color: grey;
    font-style: italic;
}

.package {
    background: #b1faee;
}

select{
    text-align: center;
    text-align-last:center;
    border:0;
    padding: 3px 15px;
}

.fa-big {
    font-size: 28px;
}

.right-toolbar {
    position: absolute;
    right: 4px;
}

.in-use {
    padding: 0.25rem 0.5rem;
    border-radius: 0.2rem;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
}

.not-visible {
    visibility: hidden;
}

.subheader {
    font-size: smaller;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 2px;
}

.legend {
    margin-bottom: 60px;
}