<div class="row">
    <div class="card border-user bg-user-light w-100">
        <div class="card-header bg-user">
            <div class="d-flex justify-content-between">
                <div style="display: inline-flex;">
                        <button class="btn btn-outline-light" (click)="clients.show = !clients.show"><i class="fa fa-big fa-users"></i></button> 
                        <input class="w-75 ml-3" type="file" onclick="this.value = null" (change)="openClients($event)" placeholder="Apri elenco clienti" accept=".csv">
                    </div>
                <span [hidden]="!clients.some()">({{clients.count()}} utenti)</span>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between" *ngIf="clients.current" >
                <span class="card-text w-60">
                    {{ decodeClient() }}
                </span>
                <span class="card-text w-5">
                    {{ decodeQty() }}
                </span>
                <span class="card-text w-15">{{productDescri()}} - {{ decodeCALs() }} CAL</span>
                <span class="w-10 text-right">
                    <span class="card-text" [hidden]="!clients.current.package">
                        {{configuration.moduleDescription(clients.current.package) || clients.current.package}}
                        <i class="fa fa-big fa-circle text-user"></i> 
                    </span>
                </span>
            </div>
        </div>
        <div class="card-footer bg-transparent">
            <div class="d-flex justify-content-between" *ngIf="clients.current" >
                <div>
                    <i class="fa fa-angle-double-left btn btn-sm text-user" (click)="onFirst()"></i>
                    <i class="fa fa-angle-left btn btn-sm text-user" (click)="onPrev()"></i>
                    <span class="text-center" style="display: inline-block;width: 50px;">{{clients.currIdx()}}</span>
                    <i class="fa fa-angle-right btn btn-sm text-user" (click)="onNext()"></i>
                    <i class="fa fa-angle-double-right btn btn-sm text-user" (click)="onLast()"></i>
                    <i class="fa fa-random btn btn-sm text-user" (click)="onRandom()"></i>
                    <input type="text" class="input-sm" size="10" [(ngModel)]="searchString">
                    <i class="fa fa-search btn btn-sm text-user pl-0" (click)="onSearch(searchString)"></i>
                    <span class="alert" [hidden]="successSearch">no more found</span>
                </div>
                <div class="mr-3 w-50 small card-text text-right text-user" >
                    <i class="fa fa-files-o btn btn-sm text-user" (click)="onCopyConfig()" ngbTooltip="{{'Copy modules configuration in the clipboard' | translate}}"></i>
                    <i class="fa fa-stack-overflow mr-1" placement="bottom" ngbTooltip="{{decodeModules()}}"></i>
                    {{decodeModules()}}
                </div>
            </div>
        </div>
      </div>
</div>
