<div class="row mt-2 d-flex justify-content-around">
  <div class="screen-only">
    <div class="left-toolbar">
      <button class="btn btn-outline-light" [class.not-visible]="clients.show" (click)="clients.show = !clients.show"><i class="fa fa-big fa-users text-config-light"></i></button>
    </div>
    <div class="inline-flex">
      <div class="col-1 text-right btn btn-sm mr-2" [class.not-visible]="currIndustry == 0" [class.disabled]="editMode" (click)="editMode || onPrev()">
          <i class="fa fa-big fa-chevron-left text-config-light"></i>
      </div>
      <div>
        <select class="bg-config text-config-white lead" [disabled]="editMode" [(ngModel)]="currIndustry"  (change)="onIndustryChanged()">
          <option *ngFor="let industry of industryList; let i=index"  [value]="i">
          {{industry}}
          </option>
        </select>
      </div>
      <div class="col-1 text-left btn btn-sm" [class.not-visible]="currIndustry == industryList.length - 1" [class.disabled]="editMode" (click)="editMode || onNext()">
        <i class="fa fa-big fa-chevron-right text-config-light"></i>
      </div>
    </div>
    <div class="right-toolbar" [hidden]="currIndustry == null">
      <button class="btn btn-outline-light" [hidden]="editMode" (click)="editMode=true"><i class="fa fa-big fa-pencil text-config-light"></i></button>
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-light" [hidden]="!editMode" ngbDropdownToggle placement="bottom" ngbTooltip="Copia un'altra industry">
            <i class="fa fa-big fa-files-o text-config-light"></i>
        </button>
        <div ngbDropdownMenu style="margin-left:-75px">
          <button class="dropdown-item" ngbDropdownItem *ngFor="let industry of industryList | OtherIndustries:currIndustry" (click)="onCopy(industry)">{{industry}}</button>
        </div>
      </div>
      <button class="btn btn-outline-light" [hidden]="!editMode" (click)="onSave(); editMode=false"><i class="fa fa-big fa-floppy-o text-config-light"></i></button>
      <button class="btn btn-outline-light" [hidden]="!editMode" (click)="onCancel(); editMode=false"><i class="fa fa-big fa-undo text-config-light"></i></button>
    </div>
  </div>
  <div class="text-config title-config mb-4 print-only">
    {{industryList[currIndustry]}}
  </div>
</div>
<div class="row mt-2" *ngIf="industry.current">
  <table class="table table-sm table-borderless">
      <tr>
          <th class="screen-only"><app-toggler class="text-config-light" [(value)]="hideExcluded"></app-toggler></th>
          <th>{{"Feature" | translate}}</th>
          <th class="text-center edition-sep" [hidden]="!clients.show"><i class="fa fa-user fa-big text-user"></i> </th>
          <th class="text-center edition-sep" ></th>
          <th class="text-center edition-sep" [hidden]="!hasWeights()"></th>
          <th *ngFor="let edition of editions" class="text-center edition-sep" [class.bg-user-light]="clients.show && clients.getEdition() == edition.code" (click)="editMode && selectAll(edition.code)">
            <app-edition-header [disabled]="!editMode">{{edition.description | translate}}</app-edition-header>
          </th>
          <th class="text-center edition-sep" [hidden]="!hasLicense()">{{"License" | translate}}</th>
          <th class="text-center edition-sep" [hidden]="!hasLicense()">{{"MLU" | translate}}</th>
      </tr>
      <tr *ngIf="hasWeights()">
        <th class="subheader screen-only"></th>
        <th class="subheader"></th>
        <th class="text-center edition-sep subheader" [hidden]="!clients.show">
          <span *ngIf="industry.current.clientWeight">{{industry.current.clientWeight}}</span>
        </th>
        <th class="edition-sep subheader"></th>
        <th class="edition-sep subheader" [hidden]="!hasWeights()"></th>

        <th *ngFor="let edition of editions" class="text-center edition-sep subheader" [class.bg-user-light]="clients.getEdition() ==edition.code">
          <span *ngIf="industry.current.weights">{{configurationWeight(industry.current.weights, edition.code)}}</span>
        </th>
        <th class="text-center edition-sep" [hidden]="!hasLicense()"></th>
        <th class="text-center edition-sep" [hidden]="!hasLicense()"></th>
    </tr>
      <tr *ngIf="clients.show">
        <th class="subheader screen-only"></th>
        <th class="subheader"></th>
        <th class="edition-sep subheader"></th>
        <th class="edition-sep subheader"></th>
        <th class="edition-sep subheader" [hidden]="!hasWeights()"></th>

        <th *ngFor="let edition of editions" class="text-center edition-sep subheader" [class.bg-user-light]="clients.getEdition() == edition.code">
          <span *ngIf="hasWeights() && industry.current.distances">+{{configurationDistance(industry.current.distances, edition.code).plus}} / -{{configurationDistance(industry.current.distances, edition.code).minus}}</span>
        </th>

        <th class="text-center edition-sep" [hidden]="!hasLicense()"></th>
        <th class="text-center edition-sep" [hidden]="!hasLicense()"></th>
      </tr>
      <tr *ngFor="let feature of industry.current.features | Excluded:!hideExcluded" [class.excluded]="!feature.included" [class.module-sep]="feature.level == 1">
          <td class="screen-only" width="15px"><app-toggler [hidden]="feature.discontinued" [disabled]="!editMode" class="text-config-light" [(value)]="feature.included" [options]="includedOptions"></app-toggler></td>
          <td [class.discontinued]="feature.discontinued">
            <i class="fa fa-calendar text-warning" [hidden]="feature.isAvailable" placement="right" ngbTooltip="{{'This feature is planned but not yet available' | translate }}"></i>
            <app-detailed-info [details]="detailedInfo(feature) | translate" [className]="featureClass(feature)">{{feature.description | translate}}</app-detailed-info>
            <i class="fa fa-exclamation-triangle text-danger" style="float:right" [hidden]="!missingFragment(feature)" placement="right" ngbTooltip="{{'Missing fragment for this feature' | translate }}"></i>
          </td>
          <td class="text-center edition-sep" [hidden]="!clients.show">
            <i
              class="fa in-use text-user"
              [class.fa-circle]="feature.fromPackage"
              [class.fa-check]="feature.customer"
              [class.text-danger]="!feature.included || feature.discontinued"></i>
          </td>
          <td width="25px" class="text-center edition-sep"><i class="fa fa-globe" [hidden]="!isLocalized(feature)" placement="right" [ngbTooltip]="ISOTooltip(feature)"></i></td>
          <td width="30px" class="text-right edition-sep" [hidden]="!hasWeights()">{{getWeight(feature)}}</td>

          <td *ngFor="let edition of editions" class="text-center edition-sep" [class.bg-user-light]="clients.show && clients.getEdition() == edition.code">
            <app-toggler
              [hidden]="!feature.included || feature.discontinued"
              [disabled]="!editMode"
              class="text-config"
              [class.text-danger]="clients.show && clients.current && isMinus(feature, edition.code)"
              [class.text-user]="clients.show && clients.current && isPlus(feature, edition.code)"
              [(value)]="option(feature, edition.code).availability"
              [options]="featureTypes"></app-toggler>
          </td>

          <td *ngIf="!getSpecial(feature)" width="30px" class="text-right edition-sep" [hidden]="!hasLicense()">{{ !isAlways(feature) ? (getLicense(feature) | currency : "EUR") : "" }}</td>
          <td *ngIf="!getSpecial(feature)" width="30px" class="text-right edition-sep" [hidden]="!hasLicense()">{{ !isAlways(feature) ? (getMLU(feature) | currency : "EUR") : ""}}</td>
          <td *ngIf="getSpecial(feature)" width="30px" colspan=2 class="text-right edition-sep" [hidden]="!hasLicense()">{{getSpecial(feature)}}</td>
      </tr>
  </table>
</div>
<div *ngIf="industry.current" class="legend">
  <hr>
  {{"Legend" | translate}} <br>
  <i class="fa fa-circle-o text-config"></i> {{"not included" | translate}} &nbsp;
  <i class="fa fa-circle text-config"></i> {{"included" | translate}} &nbsp;
  <i class="fa fa-user text-config"></i> {{"per number of users" | translate}} &nbsp;
  <i class="fa fa-check-square-o text-config"></i> {{"optional, full-price" | translate}} &nbsp;
  <i class="fa fa-cart-plus text-config"></i> {{"choose quantity" | translate}} &nbsp;
</div>

