.inline-flex {
    display: inline-flex;
}

select{
    text-align: center;
    text-align-last:center;
    border:0;
    padding: 3px 15px;
}

.country-list {
    text-align: inherit;
    text-align-last: inherit;
    border: black 1px solid;
    padding: 1px 1px 3px 1px;
}

.right {
    position: absolute;
    right:0;
}

.legend {
    margin-bottom: 60px;
}

.level-1 {
    font-size: 1.4rem;
    font-weight: 600;
}

.level-2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.level-3 {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 0.5em;
}

.no-level {
    font-size: 1rem;
    color: darkorange;
}

.excluded {
    color: grey;
    font-style: italic;
}
