<nav class="navbar navbar-light bg-config p-1">
    <div>
        <span class="navbar-brand">
            <img src="/assets/M4Cloud.png" alt="">
        </span>
        <span class="navbar-brand text-config-white">{{"Configurator" | translate }}</span>
    </div>
    <div class="navbar-nav flex-row">
        <select class="form-control mr-3 bg-config text-config-white" #langSelect (change)="translate.use(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>   
        <button class="btn my-2 my-sm-0 btn-outline-light" [class.bg-config-light]="clients.show" (click)="clients.show = !clients.show"><i class="fa fa-users"></i></button>
    </div>
</nav>