<div *ngIf="configuration.current">
  <div class="screen-only expand">
    <button class="btn btn-light" (click)="showPrices=!showPrices"><i class="fa fa-eur"></i></button>
  </div>
  <div class="panel" *ngIf="showPrices">
    <table class="table table-sm table-borderless mb-0">
        <tr>
            <th class="text-right"><i [hidden]="!misconfigured" class="fa fa-bell fa-big text-danger" ngbTooltip="La configurazione in uso è più ampia di quella su cui è stato fatto il calcolo"></i></th>
            <th class="text-center edition-sep" [hidden]="!clients.show"><i class="fa fa-user fa-big text-user"></i> </th>
            <th class="text-center edition-sep" >
              <app-edition-header>Standard</app-edition-header> 
            </th>
            <th class="text-center edition-sep" >
              <app-edition-header>Professional</app-edition-header>
            </th>
            <th class="text-center edition-sep">
              <app-edition-header>Enterprise</app-edition-header>
            </th>
        </tr> 
        <tr>
          <td class="text-right">licenza</td>
          <td class="text-center edition-sep" width="5%" [hidden]="!clients.show">{{customer.license}}</td>
          <td class="text-center edition-sep" width="9%">{{standard.license}}</td>
          <td class="text-center edition-sep" width="9%">{{professional.license}}</td>
          <td class="text-center edition-sep" width="9%">{{enterprise.license}}</td>
        </tr>
        <tr>
          <td class="text-right">
            <button class="btn btn-light" (click)="useCustomCals=!useCustomCals"><i class="fa fa-pencil"></i></button>
            <span [hidden]="useCustomCals">CAL x {{nrCals}} </span> 
            <span [hidden]="!useCustomCals">CAL x <input type="text" size="1" [(ngModel)]="nrCals"> </span>  
          </td>
          <td class="text-center edition-sep" width="5%" [hidden]="!clients.show">{{customer.calLicense}}</td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
        </tr>
        <tr>
          <td class="text-right">MLU</td>
          <td class="text-center edition-sep" width="5%" [hidden]="!clients.show">{{customer.mlu}}</td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
        </tr>
        <tr>
          <td class="text-right">MLU su CAL x {{nrCals}}</td>
          <td class="text-center edition-sep" width="5%" [hidden]="!clients.show">{{customer.calMlu}}</td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
        </tr>
        <tr>
          <td class="text-right">Totale su 5 anni</td>
          <td class="text-center edition-sep" width="5%" [hidden]="!clients.show">{{customer.total5Years}}</td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
        </tr>
        <tr>
          <td class="text-right">utente/mese</td>
          <td class="text-center edition-sep" width="5%" [hidden]="!clients.show">{{customer.perUserMonth | number:'1.0-0'}}</td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
        </tr>
      </table>
  </div>
</div>
