<div *ngIf="configuration.current">
  <div class="screen-only expand">
    <button class="btn btn-light" (click)="showPrices=!showPrices"><i class="fa fa-eur"></i></button>
  </div>
  <div class="panel" *ngIf="showPrices">
    <table class="table table-sm table-compact table-borderless mb-0">
        <tr>
            <th class="text-right"><i [hidden]="!misconfigured" class="fa fa-stack-overflow fa-big text-danger" ngbTooltip="La configurazione utente mostrata per confronto è più ampia di quella corrente. Mancano: {{misconfiguredInfo}}"></i></th>
            <th class="text-center edition-sep" [hidden]="!clients.show">
              <div>
                  <i [hidden]="!mispriced" class="fa fa-eur fa-big text-danger" ngbTooltip="La base su cui è stato calcolato il prezzo non è completa di tutti i moduli. Mancano: {{mispricedInfo}}"></i>
                  <div ngbDropdown style="display: inline-block;">
                    <div ngbDropdownToggle class="dropdown-toggle">Pricing: {{priceSource}}</div>
                    <div ngbDropdownMenu class="dropdown-menu">
                      <div class="dropdown-item" ngbDropdownItem (click)="priceSource='LITE'">LITE</div>
                      <div class="dropdown-item" ngbDropdownItem (click)="priceSource='PRO'">PRO</div>
                      <div class="dropdown-item" ngbDropdownItem (click)="priceSource='NET'">NET</div>
                    </div>                
                  </div>                
              </div>
            </th>
            <th class="text-center edition-sep" >
              <app-edition-header>Standard</app-edition-header> 
            </th>
            <th class="text-center edition-sep" >
              <app-edition-header>Professional</app-edition-header>
            </th>
            <th class="text-center edition-sep">
              <app-edition-header>Enterprise</app-edition-header>
            </th>
        </tr> 
        <tr>
          <td class="text-right">licenza</td>
          <td class="text-center edition-sep" width="12%" [hidden]="!clients.show">{{customer.license | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
        </tr>
        <tr>
          <td class="text-right">
            <span class="btn btn-mini" [hidden]="useCustomCals" (click)="useCustomCals=!useCustomCals">
              <i class="fa fa-pencil"></i>
              &nbsp;CAL x {{nrCals}}
            </span> 
            <span [hidden]="!useCustomCals">
              <i class="btn btn-mini fa fa-undo" (click)="useCustomCals=!useCustomCals"></i>
              &nbsp;CAL x <input type="text" size="1" [(ngModel)]="nrCals"> 
            </span>  
          </td>
          <td class="text-center edition-sep" width="12%" [hidden]="!clients.show">{{customer.calLicense | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
        </tr>
        <tr>
          <td class="text-right font-italic">totale licenze</td>
          <td class="text-center edition-sep font-italic" width="12%" [hidden]="!clients.show">{{customer.calLicense + customer.license | currency : "EUR"}}</td>
          <td class="text-center edition-sep font-italic" width="9%"></td>
          <td class="text-center edition-sep font-italic" width="9%"></td>
          <td class="text-center edition-sep font-italic" width="9%"></td>
        </tr>
        <tr>
          <td class="text-right row-sep">MLU</td>
          <td class="text-center edition-sep row-sep" width="12%" [hidden]="!clients.show">{{customer.mlu | currency : "EUR"}}</td>
          <td class="text-center edition-sep row-sep" width="9%"></td>
          <td class="text-center edition-sep row-sep" width="9%"></td>
          <td class="text-center edition-sep row-sep" width="9%"></td>
        </tr>
        <tr>
          <td class="text-right">MLU su CAL x {{nrCals}}</td>
          <td class="text-center edition-sep" width="12%" [hidden]="!clients.show">{{customer.calMlu | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
        </tr>
        <tr>
          <td class="text-right font-italic">canone annuale attuale</td>
          <td class="text-center edition-sep font-italic" width="12%" [hidden]="!clients.show">{{customer.calMlu + customer.mlu | currency : "EUR"}}</td>
          <td class="text-center edition-sep font-italic" width="9%"></td>
          <td class="text-center edition-sep font-italic" width="9%"></td>
          <td class="text-center edition-sep font-italic" width="9%"></td>
        </tr>
        <tr>
          <td class="text-right row-sep">Totale su 5 anni</td>
          <td class="text-center edition-sep row-sep" width="12%" [hidden]="!clients.show">{{customer.total5Years | currency : "EUR"}}</td>
          <td class="text-center edition-sep row-sep" width="9%"></td>
          <td class="text-center edition-sep row-sep" width="9%"></td>
          <td class="text-center edition-sep row-sep" width="9%"></td>
        </tr>
        <tr>
          <td class="text-right">utente/mese</td>
          <td class="text-center edition-sep" width="12%" [hidden]="!clients.show">{{customer.perUserMonth | number:'1.0-0' | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
        </tr>
        <tr>
          <td class="text-right">canone equivalente annuo</td>
          <td class="text-center edition-sep" width="12%" [hidden]="!clients.show">{{customer.perUserMonth * nrCals * 12 | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
          <td class="text-center edition-sep" width="9%"></td>
        </tr>
      </table>
  </div>
</div>
