<div class="row">
    <div class="card border-user bg-user-light w-100">
        <div class="card-header bg-user">
            <div class="d-flex justify-content-between">
                <input class="w-75" type="file" (change)="openClients($event)" placeholder="Apri elenco clienti" accept=".csv">
                <span [hidden]="!clients.available()">({{clients.count()}} utenti)</span>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between" *ngIf="clients.current" >
                <span class="card-text w-70">
                    <i class="fa fa-files-o btn btn-sm text-user" (click)="onCopyConfig()"></i>
                    {{ decodeClient() }} {{ decodeQty() }}
                    
                </span>
                <span class="card-text w-15">{{productDescri(clients.current["Descrizione prodotto"])}} - {{ decodeCALs() }} CAL</span>
                <span class="w-15 text-right">
                    <span class="card-text" [hidden]="!clients.current.package">
                        {{modulesDescription[clients.current.package] || clients.current.package}}
                        <i class="fa fa-big fa-circle text-user"></i> 
                    </span>
                </span>
            </div>
        </div>
        <div class="card-footer bg-transparent">
            <div class="d-flex justify-content-between" *ngIf="clients.current" >
                <div>
                    <i class="fa fa-angle-double-left btn btn-sm text-user" (click)="onFirst()"></i>
                    <i class="fa fa-angle-left btn btn-sm text-user" (click)="onPrev()"></i>
                    <span class="text-center" style="display: inline-block;width: 50px;">{{clients.currIdx()}}</span>
                    <i class="fa fa-angle-right btn btn-sm text-user" (click)="onNext()"></i>
                    <i class="fa fa-angle-double-right btn btn-sm text-user" (click)="onLast()"></i>
                    <i class="fa fa-random btn btn-sm text-user" (click)="onRandom()"></i>
                    <span [hidden]="!clients.current['Ragione Sociale'] && !clients.current.CompanyName">
                        <input type="text" class="input-sm" size="10" [(ngModel)]="searchString">
                        <i class="fa fa-search btn btn-sm text-user pl-0" (click)="onSearch(searchString)"></i>
                    </span>
                </div>
            </div>
        </div>
      </div>
</div>
