<div class="row">
    <div class="card border-primary w-100">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <input class="w-75" type="file" (change)="openClients($event)" placeholder="Apri elenco clienti" accept=".csv">
                <span [hidden]="!clients.available()">({{clients.count()}} utenti)</span>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between" *ngIf="clients.current" >
                <span class="card-text w-50">{{clients.current["Ragione Sociale"]}}</span>
                <span class="card-text w-25">{{productDescri(clients.current["Descrizione prodotto"])}} - {{clients.current["Numero C.A.L."]}} CAL</span>
                <span class="w-25 text-right">
                    <span class="card-text" [hidden]="!clients.current.package">
                        <i class="fa fa-big fa-circle text-user"></i> 
                        {{clients.current.package}}
                    </span>
                </span>
            </div>
        </div>
        <div class="card-footer bg-transparent">
            <div [hidden]="!clients.current">
                <i class="fa fa-chevron-left btn btn-sm text-user" (click)="onPrev()"></i>
                <i class="fa fa-chevron-right btn btn-sm text-user" (click)="onNext()"></i>
            </div>
        </div>
      </div>
    <!-- <span>Apri elenco clienti&nbsp;&nbsp;</span><input type="file" (change)="openClients($event)" placeholder="Apri elenco clienti" accept=".csv">
    <div *ngIf="clients.current">
        <p><button (click)="onPrev()">&lt;</button><button (click)="onNext()">&gt;</button></p>
        <p>{{clients.current["Ragione Sociale"]}}</p>
        <p><span [hidden]="!clients.current.package">({{clients.current.package}})</span>&nbsp;</p>

        Descrizione prodotto
        Numero C.A.L.

    </div> -->
</div>
