<button (click)="onDownload()">scarica clienti</button>
<div *ngIf="client">
    <p><button (click)="onPrev()">&lt;</button><button (click)="onNext()">&gt;</button></p>
    <p>{{client["Ragione Sociale"]}}</p>
    <p><span [hidden]="!client.package">({{client.package}})</span>&nbsp;</p>
</div>
<h1>
    <select [disabled]="editMode" [(ngModel)]="currIndustry"  (change)="onIndustryChanged()">
        <option *ngFor="let industry of industryList" [value]="industry"> 
        {{industry}}
        </option>
    </select>
</h1>
<div *ngIf="configuration"> 
    <h1>{{currIndustry}} 
        <button [hidden]="editMode" (click)="editMode=true">...</button> 
        <button [hidden]="!editMode" (click)="onSave(); editMode=false">S</button> 
        <button [hidden]="!editMode" (click)="onCancel(); editMode=false">A</button> 
    </h1>
    <button (click)="hideFunctionalities=!hideFunctionalities">{{!hideFunctionalities ? "==" : "[ ]"}}</button>
    <div class="cover" [hidden]="editMode">
    </div>
    <table>
        <tr>
            <th></th>
            <th>Modulo</th>
            <th>Funzionalità</th>
            <th></th>
            <th>Standard</th>
            <th>Professional</th>
            <th>Enterprise</th>
        </tr> 
        <tr *ngFor="let feature of configuration.features | Functionality:!hideFunctionalities" [class.unavailable]="feature.unavailable">
            <td class="flag action" width="15px" (click)="feature.unavailable=!feature.unavailable">{{feature.unavailable ? "+":"-"}}</td>
            <td [class.discontinued]="feature.discontinued">{{feature.module}}</td>  
            <td [class.discontinued]="feature.discontinued">{{hideFunctionalities ? "" : feature.functionality}}</td> 
            <td class="flag" [class.package]="feature.fromPackage" width="15px">{{feature.customer ? "X":""}}</td>
            <td class="flag action" (click)="feature.standard=!feature.standard">{{feature.standard ? "X":""}}</td>
            <td class="flag action" (click)="feature.professional=!feature.professional">{{feature.professional ? "X":""}}</td>
            <td class="flag action" (click)="feature.enterprise=!feature.enterprise">{{feature.enterprise ? "X":""}}</td>
        </tr>
    </table>
</div>
