table.comparision {
    border: #000000;
    border-style: double;
}

th.mago4-module-title {
    background-color: #C0C0C0;
    border: #000000;
    border-style: double;
    border-bottom: #808080 2px;
    border-bottom-style: solid;
}

th.magoCloud-module-title {
    border: #000000;
    border-style: double;
    border-bottom: #808080 2px;
    border-bottom-style: solid;
}

td.mago4-module {
    vertical-align: baseline;
    border: #000000;
    border-style: double;
    border-bottom: #808080 2px;
    border-bottom-style: solid;
    border-top: none;
    background-color: #E0E0E0;
}

tr.magoCloud-feature {
    border: #000000 1px solid;
    border-left: none;
}

td.functional-area-sep {
    -webkit-print-color-adjust: exact;
    color: white;
    border: #000000;
    border-style: double;
    border-bottom: #808080 2px;
    border-bottom-style: solid;
    border-top: none;
}

td.functional-area-sep-basic {
    background-color: #5F497A !important;
}

td.functional-area-sep-financials {
    background-color: #17365D !important;
}

td.functional-area-sep-sales {
    background-color: #943634 !important;
}

td.functional-area-sep-logistic {
    background-color: #008080 !important;
}

td.functional-area-sep-manufacturing {
    background-color: #E36C0A !important;
}

td.functional-area-sep-store {
    background-color: #C0504D !important;
}

td.functional-area-sep-integrate {
    background-color: #76923C !important;
}

td.functional-area-sep-connectors {
    background-color: #404040 !important;
}

td.functional-area-sep-ecommerce {
    background-color: #17365D !important;
}

td.functional-area-sep-monitoring {
    background-color: #0070C0 !important;
}

td.functional-area-sep-integration {
    background-color: #365F91 !important;
}

td.functional-area-sep-improve {
    background-color: #244061 !important;
}

td.functional-area-sep-cal {
    background-color: #403152 !important;
}

img.logo {
    height: 100px;
}

@media print {

    .logo-container {
        display: inline-flex; 
        align-items: center;
    }

}

@media screen {
    .logo-container {
        display: none; 
    }

}