<div class="container main">
  <div class="row justify-content-center">
    <div class="print-only">
      <img src="/assets/M4CloudBigLogo.png" alt="">
    </div>
  </div>
  <div class="row mt-2 d-flex justify-content-around">
    <div class="screen-only">
      <div class="inline-flex">
        <div class="col-1 text-right btn btn-sm mr-2" [class.not-visible]="currIndustry == 0" [class.disabled]="editMode" (click)="editMode || onPrev()">
          <i class="fa fa-big fa-chevron-left text-config-light"></i>
        </div>
        <div>
          <select class="bg-config text-config-white lead" [disabled]="editMode" [(ngModel)]="currIndustry"  (change)="onIndustryChanged()">
            <option *ngFor="let industry of industryList; let i=index"  [value]="i"> 
            {{industry}}
            </option>
          </select>
        </div>
        <div class="col-1 text-left btn btn-sm" [class.not-visible]="currIndustry == industryList.length - 1" [class.disabled]="editMode" (click)="editMode || onNext()">
          <i class="fa fa-big fa-chevron-right text-config-light"></i>
        </div>
      </div>
    </div>
    <div class="text-config title-config mb-4 print-only">
      {{industryList[currIndustry]}}
    </div>
    <div class="right screen-only" [hidden]="currIndustry == null">
      <button class="btn btn-outline-light" [hidden]="editMode" (click)="editMode=true"><i class="fa fa-big fa-pencil text-config-light"></i></button> 
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-light" [hidden]="!editMode" ngbDropdownToggle placement="bottom" ngbTooltip="Copia un'altra industry">
            <i class="fa fa-big fa-files-o text-config-light"></i>
        </button>
        <div ngbDropdownMenu style="margin-left:-75px">
          <button class="dropdown-item" ngbDropdownItem *ngFor="let industry of industryList | OtherIndustries:currIndustry" (click)="onCopy(industry)">{{industry}}</button>
        </div>
      </div>
      <button class="btn btn-outline-light" [hidden]="!editMode" (click)="onSave(); editMode=false"><i class="fa fa-big fa-floppy-o text-config-light"></i></button> 
      <button class="btn btn-outline-light" [hidden]="!editMode" (click)="onCancel(); editMode=false"><i class="fa fa-big fa-undo text-config-light"></i></button> 
    </div>
  </div>
  <div class="row mt-2" *ngIf="dataSheet.current"> 
    <table class="table table-sm table-borderless">
        <tr>
          <th width="15px"><app-toggler class="text-config-light screen-only title-sep" [(value)]="hideExcluded"></app-toggler></th>
          <th class="title-sep">{{"Feature" | translate}} <i class="ml-2 text-config-light fa fa-list screen-only" ngbTooltip="{{'Show/hide features details' | translate }}" (click)="showDetails=!showDetails"></i></th>
          <th width="25px" class="text-center edition-sep title-sep" ></th>
          <th class="text-center edition-sep title-sep" >Standard</th>
          <th class="text-center edition-sep title-sep" >Premium</th>
          <th class="text-center edition-sep title-sep" >Professional</th>
          <th class="text-center edition-sep title-sep" >Enterprise</th>
        </tr>
        <tr *ngFor="let line of dataSheet.current.lines | LineExcluded:!hideExcluded" [class.excluded]="!line.included">
          <td width="15px"><app-toggler [disabled]="!editMode" class="text-config-light screen-only" [(value)]="line.included" [options]="includedOptions"></app-toggler></td>
          <td >
            <app-detailed-info [className]="topicClass(line)" [details]="line.details | translate" icon="fa-angle-down" [forceShow]="showDetails">{{line.title | translate}}</app-detailed-info>
            <i class="fa fa-calendar ml-2" [hidden]="!line.notYetAvailable" placement="right" ngbTooltip="{{'This feature is planned but not yet available' | translate }}"></i> 
          </td> 
          <td width="25px" class="text-center edition-sep"><i class="fa fa-globe" [hidden]="!isLocalized(line)" placement="right" [ngbTooltip]="ISOTooltip(line)"></i></td>  
          <td class="text-center edition-sep">
            <app-toggler 
              [hidden]="!line.included" 
              [disabled]="!editMode" 
              class="text-config" 
              [(value)]="option(line, 'STD').availability" 
              [options]="topicTypes"></app-toggler>
          </td>
          <td class="text-center edition-sep">
            <app-toggler 
              [hidden]="!line.included" 
              [disabled]="!editMode" 
              class="text-config" 
              [(value)]="option(line, 'PRM').availability" 
              [options]="topicTypes"></app-toggler>
          </td>
          <td class="text-center edition-sep">
            <app-toggler 
              [hidden]="!line.included" 
              [disabled]="!editMode" 
              class="text-config" 
              [(value)]="option(line, 'PRO').availability" 
              [options]="topicTypes"></app-toggler>
          </td>
          <td class="text-center edition-sep">
            <app-toggler 
              [hidden]="!line.included" 
              [disabled]="!editMode" 
              class="text-config" 
              [(value)]="option(line, 'ENT').availability" 
              [options]="topicTypes"></app-toggler>
          </td>
      </tr>
      </table>
  </div>
    <div *ngIf="dataSheet.current" class="legend print-only">
      <hr>
      {{"Legend" | translate}} <br>
      <i class="fa fa-circle-o text-config"></i> {{"not included" | translate}} &nbsp;
      <i class="fa fa-circle text-config"></i> {{"included" | translate}} &nbsp;
      <i class="fa fa-check-square-o text-config"></i> {{"optional" | translate}} &nbsp;
      <i class="fa fa-user-plus text-config"></i> {{"per number of users" | translate}} &nbsp;
      <i class="fa fa-money text-config"></i> {{"Pay Per Transactions" | translate}}<br>
      <i class="fa fa-globe text-config"></i> {{"Available in some countries only" | translate}}<br>
      <i class="fa fa-calendar text-config"></i> {{"This feature is planned but not yet available" | translate}}<br>
    </div>
  </div>
