.inline-flex {
    display: inline-flex;
}

select{
    text-align: center;
    text-align-last:center;
    border:0;
    padding: 3px 15px;
}

.excluded {
    color: grey;
    font-style: italic;
}

.level-1 {
    font-size: large;
    font-weight: 600;
}

.level-2 {
    font-size: large;
    font-weight: 600;
}

.level-3 {
    font-size: medium;
    font-weight: 600;
}

.main {
    overflow-y: auto;
    max-width: inherit;
}

.right {
    position: absolute;
    right:0;
}