/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

/* 
sample price list

#fb5710 orange red
#fc9565 salmon 
#FBFAF9 white
#5E5C63 slate gray
#A8A7A9 light  slate gray

*/
/* .bg-config {
    background-color:#fb5710 !important;
}

.bg-config-light {
    background-color:#fc9565 !important;
}

.text-config {
    color: #fb5710 !important;
}

.text-config-light {
    color: #fc9565 !important;
}

.text-config-white {
    color: #FBFAF9 !important;
}

.text-user {
    color: #0066CC;
}

.border-user {
    border-color: #0066CC !important;
}

.bg-user-light {
    background-color: aliceblue;
}

.bg-user {
    background-color: lightblue;
}
 */


/*
from mago4.com

#00B567 green (#009152)
#CDCDCD gray
#00BAEF cyan
#F2F2F2 light gray
#0065B3 blue

*/
/* .bg-config {
    background-color:#009152 !important;
}

.bg-config-light {
    background-color:#00BAEF !important;
}

.text-config {
    color: #009152;
}

.text-config-light {
    color: #00BAEF !important;
}

.text-config-white {
    color: #F2F2F2 !important;
}

.text-user {
    color: #0065B3;
}

.border-user {
    border-color: #0065B3 !important;
} */

/*
store portal

#043555 blue
#CDE9F5 azure
#EEEBCC cream
*/

.bg-config {
    background-color:#043555 !important;
}

.bg-config-light {
    background-color:#CDE9F5 !important;
}

.text-config {
    color: #043555;
}

.text-config-light {
    /* color: #CDE9F5 !important; */
    color: rgb(120, 202, 253);
}

.text-config-white {
    color: #F2F2F2 !important;
}

.text-user {
    color: #E3A202;
}

.border-user {
    border-color: #E3A202 !important;
}

.bg-user-light {
    background-color: rgb(248, 246, 222);
}

.bg-user {
    background-color: #E3A202;
}

th.edition-sep, td.edition-sep {
    border-left: 1px solid #A8A7A9;
}

th.title-sep {
    border-bottom: 1px solid #A8A7A9;
}

tr.module-sep {
    border-top: 1px solid #A8A7A9;
}

tr.group-sep {
    border-top: 2px solid black;
}


.not-visible {
    visibility: hidden;
}

.fa-big {
    font-size: 28px;
}

.title-config {
    font-weight: 600;
    font-size: xx-large;
}

@media print {
    .print-only {
        display: unset;
    }

    .screen-only {
        display: none;
    }
}

@media screen {
    .print-only {
        display: none;
    }

    .screen-only {
        display: unset;
    }
}


/*
mago4.com from color palette generator

#14B7B7 Light Sea Green
#8EB6BD Cadet Blue
#EAF0F0 Light Steel Blue
#111516 Dark Slate Gray
#CCCBCC Light Grey

*/

