<div *ngIf="industry.current">
  <div class="screen-only expand">
    <button class="btn btn-light" (click)="showPrices=!showPrices"><i class="fa fa-eur"></i></button>
  </div>
  <div class="panel" *ngIf="showPrices">
    <table class="table table-sm table-compact table-borderless mb-0">
        <tr>
            <th class="text-right"><i [hidden]="!misconfigured" class="fa fa-stack-overflow text-danger" ngbTooltip="La configurazione utente mostrata per confronto è più ampia di quella corrente. Mancano: {{misconfiguredInfo}}"></i></th>
            <th class="text-center edition-sep" [hidden]="!clients.show">
              <div>
                  <i [hidden]="!mispriced" class="fa fa-eur text-danger" ngbTooltip="La base su cui è stato calcolato il prezzo non è completa di tutti i moduli. Mancano: {{mispricedInfo}}"></i>
                  <div ngbDropdown style="display: inline-block;">
                    <div ngbDropdownToggle class="dropdown-toggle">Pricing: {{priceSource}}</div>
                    <div ngbDropdownMenu class="dropdown-menu">
                      <div class="dropdown-item" ngbDropdownItem (click)="priceSource='LITE'">LITE</div>
                      <div class="dropdown-item" ngbDropdownItem (click)="priceSource='PRO'">PRO</div>
                      <div class="dropdown-item" ngbDropdownItem (click)="priceSource='NET'">NET</div>
                    </div>                
                  </div>                
              </div>
            </th>
            <th class="text-center edition-sep" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='STD'">
              Standard 
              <i class="fa" [class.fa-check-square-o]="fullOptions[STD]" [class.fa-square-o]="!fullOptions[STD]" (click)="fullOptions[STD]=!fullOptions[STD]"></i>
            </th>
            <th class="text-center edition-sep" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRM'">
              Premium
              <i class="fa" [class.fa-check-square-o]="fullOptions[PRM]" [class.fa-square-o]="!fullOptions[PRM]" (click)="fullOptions[PRM]=!fullOptions[PRM]"></i>
            </th>
            <th class="text-center edition-sep" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRO'">
              Professional
              <i class="fa" [class.fa-check-square-o]="fullOptions[PRO]" [class.fa-square-o]="!fullOptions[PRO]" (click)="fullOptions[PRO]=!fullOptions[PRO]"></i>
            </th>
            <th class="text-center edition-sep" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='ENT'">
              Enterprise
              <i class="fa" [class.fa-check-square-o]="fullOptions[ENT]" [class.fa-square-o]="!fullOptions[ENT]" (click)="fullOptions[ENT]=!fullOptions[ENT]"></i>
            </th>
        </tr> 
        <tr>
          <td class="text-right">licenza</td>
          <td class="text-center edition-sep" width="10%" [hidden]="!clients.show">{{customer.license | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='STD'">{{pricings[STD].license | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRM'">{{pricings[PRM].license | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRO'">{{pricings[PRO].license | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='ENT'">{{pricings[ENT].license | currency : "EUR"}}</td>
        </tr>
        <tr>
          <td class="text-right">
            <span class="btn btn-mini" [hidden]="useCustomCals" (click)="useCustomCals=!useCustomCals">
              <i class="fa fa-pencil"></i>
              &nbsp;CAL x {{nrCals}}
            </span> 
            <span [hidden]="!useCustomCals">
              <i class="btn btn-mini fa fa-undo" (click)="useCustomCals=!useCustomCals"></i>
              &nbsp;CAL x <input type="text" size="1" [(ngModel)]="nrCals"> 
            </span>  
          </td>
          <td class="text-center edition-sep" width="10%" [hidden]="!clients.show">{{customer.calLicense | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='STD'">{{pricings[STD].calLicense | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRM'">{{pricings[PRM].calLicense | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRO'">{{pricings[PRO].calLicense | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='ENT'">{{pricings[ENT].calLicense | currency : "EUR"}}</td>
        </tr>
        <tr>
          <td class="text-right font-italic">totale licenze</td>
          <td class="text-center edition-sep font-italic" width="10%" [hidden]="!clients.show">{{customer.calLicense + customer.license | currency : "EUR"}}</td>
          <td class="text-center edition-sep font-italic" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='STD'">{{pricings[STD].calLicense + pricings[STD].license | currency : "EUR"}}</td>
          <td class="text-center edition-sep font-italic" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRM'">{{pricings[PRM].calLicense + pricings[PRM].license | currency : "EUR"}}</td>
          <td class="text-center edition-sep font-italic" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRO'">{{pricings[PRO].calLicense + pricings[PRO].license | currency : "EUR"}}</td>
          <td class="text-center edition-sep font-italic" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='ENT'">{{pricings[ENT].calLicense + pricings[ENT].license | currency : "EUR"}}</td>
        </tr>
        <tr>
          <td class="text-right row-sep">MLU</td>
          <td class="text-center edition-sep row-sep" width="10%" [hidden]="!clients.show">{{customer.mlu | currency : "EUR"}}</td>
          <td class="text-center edition-sep row-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='STD'">{{pricings[STD].mlu | currency : "EUR"}}</td>
          <td class="text-center edition-sep row-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRM'">{{pricings[PRM].mlu | currency : "EUR"}}</td>
          <td class="text-center edition-sep row-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRO'">{{pricings[PRO].mlu | currency : "EUR"}}</td>
          <td class="text-center edition-sep row-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='ENT'">{{pricings[ENT].mlu | currency : "EUR"}}</td>
        </tr>
        <tr>
          <td class="text-right">MLU su CAL x {{nrCals}}</td>
          <td class="text-center edition-sep" width="10%" [hidden]="!clients.show">{{customer.calMlu | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='STD'">{{pricings[STD].calMlu | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRM'">{{pricings[PRM].calMlu | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRO'">{{pricings[PRO].calMlu | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='ENT'">{{pricings[ENT].calMlu | currency : "EUR"}}</td>
        </tr>
        <tr>
          <td class="text-right font-italic">canone annuale attuale</td>
          <td class="text-center edition-sep font-italic" width="10%" [hidden]="!clients.show">{{customer.calMlu + customer.mlu | currency : "EUR"}}</td>
          <td class="text-center edition-sep font-italic" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='STD'"></td>
          <td class="text-center edition-sep font-italic" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRM'"></td>
          <td class="text-center edition-sep font-italic" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRO'"></td>
          <td class="text-center edition-sep font-italic" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='ENT'"></td>
        </tr>
        <tr>
          <td class="text-right row-sep">Totale su 5 anni</td>
          <td class="text-center edition-sep row-sep" width="10%" [hidden]="!clients.show">{{customer.total5Years | currency : "EUR"}}</td>
          <td class="text-center edition-sep row-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='STD'">{{pricings[STD].total5Years | currency : "EUR"}}</td>
          <td class="text-center edition-sep row-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRM'">{{pricings[PRM].total5Years | currency : "EUR"}}</td>
          <td class="text-center edition-sep row-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRO'">{{pricings[PRO].total5Years | currency : "EUR"}}</td>
          <td class="text-center edition-sep row-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='ENT'">{{pricings[ENT].total5Years | currency : "EUR"}}</td>
        </tr>
        <tr>
          <td class="text-right">utente/mese</td>
          <td class="text-center edition-sep" width="10%" [hidden]="!clients.show">{{customer.perUserMonth | number:'1.0-0' | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='STD'">{{pricings[STD].perUserMonth  | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRM'">{{pricings[PRM].perUserMonth  | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRO'">{{pricings[PRO].perUserMonth  | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='ENT'">{{pricings[ENT].perUserMonth  | currency : "EUR"}}</td>
        </tr>
        <tr>
          <td class="text-right">canone equivalente annuo</td>
          <td class="text-center edition-sep" width="10%" [hidden]="!clients.show">{{customer.perUserMonth * nrCals * 12 | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='STD'">{{pricings[STD].perUserMonth * nrCals * 12 | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRM'">{{pricings[PRM].perUserMonth * nrCals * 12 | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='PRO'">{{pricings[PRO].perUserMonth * nrCals * 12 | currency : "EUR"}}</td>
          <td class="text-center edition-sep" width="10%" [class.bg-pricing-selected]="clients.show && clients.getEdition() =='ENT'">{{pricings[ENT].perUserMonth * nrCals * 12 | currency : "EUR"}}</td>
        </tr>
      </table>
  </div>
</div>
